{# templates/bundles/EasyAdminBundle/default/layout.html.twig #}

{% extends '@!EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}
    {% if _entity_config.name == "User" %}
    <div class="button-action">
            <a class="btn btn-dark action-new" href="{{ path('deploy_now') }}" >
                Deploy now!
            </a>
        </div>
    {% endif %}
{% endblock %}